<div class="modal-title">
  Change Permission
</div>
<div class="card-content">
  <b>{{ member.realName }}</b> is currently {{member.permission.role | permission}}
</div>

<div class="input-text-container">
  <div class="input-label">New permission</div>
  <app-permission-picker-user (selected)="permissionSelected($event)" [checkValidity]="checkValidity && !selectedPermission">
  </app-permission-picker-user>
  <div class="invalid-input-text">
    <span *ngIf="checkValidity && !selectedPermission">Permission is required</span>
  </div>
</div>
<div class="actions">
  <button (click)="change()"
          *ngIf="!isLoading"
          class="button1 button-primary"
          mat-button>
    Change Permission
 </button>
  <button *ngIf="isLoading"
          class="button1 button-loading"
          mat-button>
    Changing Permission
    <span class="spinner-container">
      <mat-spinner [diameter]="16" class="yucca-spinner"></mat-spinner>
    </span>
  </button>
  <button (click)="closeDial()" class="button button-gray" mat-button>Cancel</button>
</div>


